<h2 *ngIf="!isEdit" mat-dialog-title>Add User</h2>
<h2 *ngIf="isEdit" mat-dialog-title>Edit User</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="contactForm">
        <div class="row">
            <div class="col-sm-3 form-group">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" placeholder="First name" formControlName="firstName"
                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First name is required</div>
                </div>
            </div>
            <div class="col-sm-3 form-group">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" placeholder="Last name" formControlName="lastName"
                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last name is required</div>
                </div>
            </div>
            <div class="col-sm-3 form-group">
                <label class="form-label">Mobile Number</label>
                <input type="text" maxlength="10" class="form-control" placeholder="Mobile Number" formControlName="mobile"
                    [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" appNumbersOnly>
                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                    <div *ngIf="f.mobile.errors.required">Mobile is required</div>
                    <div *ngIf="f.mobile.errors.minlength">Mobile number must be 10 digit</div>
                </div>
            </div>
            <div class="col-sm-3 form-group">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" placeholder="email" formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email is invalid</div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3 form-group">
                <label class="form-label">Address</label>
                <input type="text" class="form-control" placeholder="Address" formControlName="address">
            </div>
            <div class="col-sm-3 form-group">
                <label class="form-label">Country</label>
                <select class="form-select" aria-label="Default select example" formControlName="country"
                    [ngClass]="{ 'is-invalid': submitted && f.country.errors }" (change)="getStateByCountry($event)">
                    <option selected>Select</option>
                    <option *ngFor="let country of countryList" value={{country.id}}>{{country.name}}</option>
                </select>
                <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                    <div *ngIf="f.country.errors.required">Country is required</div>
                </div>
            </div>
            <div class="col-sm-3 form-group">
                <label class="form-label">State</label>
                <select class="form-select" aria-label="Default select example" formControlName="state"
                    [ngClass]="{ 'is-invalid': submitted && f.state.errors }" (change)="getCityByState($event)">
                    <option selected>Select</option>
                    <option *ngFor="let state of stateByCountry"  value={{state.id}}>{{state.name}}</option>
                </select>
                <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                    <div *ngIf="f.state.errors.required">State is required</div>
                </div>
            </div>
            <div class="col-sm-3 form-group">
                <label class="form-label">City</label>
                <select class="form-select" aria-label="Default select example" formControlName="city"
                    [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                    <option selected>Select</option>
                    <option *ngFor="let city of cityByState" value={{city.id}}>{{city.name}}</option>
                </select>
                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                    <div *ngIf="f.city.errors.required">City is required</div>
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="addUser()" cdkFocusInitial>Save</button>
</mat-dialog-actions>